*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.nav
*.snm
*.bak
*.tex~
*.gitignore~
*~
*.synctex.gz
/presentation-blx.bib
/presentation.run.xml
